@media only screen and (max-width:1300px){
    .container{
        width: 95%;
    }
}
@media only screen and (max-width:1260px){
    header{
        padding: 6rem 2.5rem;
    }
    .header-texts{
        max-width: 30rem;
    }
    .header-img{
        width: 36rem;
    }
    .header-img img{ 
        bottom: -6rem;
        
    }
}
@media only screen and (max-width:1180px){
    header{
        padding: 6rem 2rem;
    }
    .header-texts{
        max-width: 27rem;
    }
    .header-img{
        width: 30rem;
    }
    .header-img img{ 
        bottom: -6rem;
        
    }
    h1{
        font-size: 3rem;
    }
    footer{
        margin-top: 0;
    }
}
@media only screen and (max-width:1030px){
    header{
        padding: 5rem 2rem;
    }
    .header-texts{
        max-width: 25rem;
    }
    .header-img{
        width: 30rem;
    }
    .header-img img{ 
        bottom: -5rem;
        
    }
    h1{
        font-size: 3rem;
    }
    .cards{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1.45rem;
    }

    .show-blogs{
        display: inline-block;
        margin-top: 4rem;
    }

    .articles{
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 940px){
    .header-texts{
        max-width: 20rem;
    }
    .header-img{
        width: 26rem;
    }
}

/*=============
 tablet view 
===============*/

@media only screen and (max-width: 768px) {
    h1,h2{
        font-size:2.5rem;
    }
    h3,.btn{
        font-size: 1.25rem;
    }
    .btn-blog{
        font-size: 1.44rem;
    }
    header.btn{
        padding: 0.75rem;
    }

    header{
        padding: 3.8rem 3rem;
    }
    .header-texts{
        max-width: 17rem;
    }
    .header-texts p{
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .header-img{
        width: 25rem;
    }
    .header-img img{ 
        bottom: -3.8rem;
        
    }
    .blogs-btns-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .nav-btn-wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1.375rem;
        width: 100%;
        padding: 0;
        background: none;
    }
    .nav-btn-wrapper a{
        max-height: 4rem;
        padding: 1rem 1rem;
        border: 1px solid #E8E8E8;
    }
    .cards-wrapper{
        margin-left: 0rem;
    }
    .show-blogs{
        display: inline-block;
        margin-top: 4rem;

    }
    footer{
        padding: 4.375rem 5rem;
    }
}

@media only screen and (max-width: 740px){
    header{
        padding: 3rem 2.5rem;
    }
    .header-texts{
        max-width: 18rem;
    }
    .header-img{
        width: 20rem;
    }
    .header-img img{ 
        bottom: -3rem;
        
    }
}
@media only screen and (max-width: 720px){
    header{
        padding: 3rem 2.5rem;
    }
    .header-texts{
        max-width: 14rem;
    }
    .header-texts h1{
        font-size: 2rem;
    }
    .header-img{
        width: 18rem;
    }
    .header-img img{ 
        bottom: -3rem;
        
    }
    .nav-btn-wrapper a{
        padding: 1rem 0.5rem;
        font-size: 1.1rem;
    }
}
/*=============
 mobile view 
 ==============*/

@media only screen and (max-width: 576px) {
    h1,h2{
        font-size:1.375rem;
    }
    h3,.btn{
        font-size: 1.25rem;
    }
    .btn-blog{
        font-size: 1.073rem;
    }
    header.btn{
        padding: 0.5rem 0.75rem;
    }

    header{
        padding: 2.5rem 0;
        padding-bottom: 0rem;
        text-align: center;
        flex-direction: column;
        margin: 1.5rem auto;
    }
    .header-texts{
        max-width: 14.25rem;
    }
    .header-img{
        width: 14.56rem;
        margin: 1.3125rem auto 0rem;
        bottom: -0.43rem;
    }
    .header-img img{ 
        position: static;
        bottom: -3.8rem;
        
    }
    .blogs-btns-wrapper{
        flex-direction: column;
        align-items: center;
        margin: -1.3rem 0rem;
    }
    .nav-btn-wrapper {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;

    }
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    .show-blogs{
        display: inline-block;
        margin-top: 4rem;

    }
    footer{
        padding: 1.5rem 1.25rem;
    }
    footer h2{
        margin-bottom: 1.5rem;
    }
    .footer-links{
        flex-direction: column;
    }
    .footer-links a{
        margin: 2rem 0 0;
    }
}