@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*--------------
 utilities 
 ---------------*/

:root{
    --color-primary: #161616;
    --color-secondary: #DD0000;
}

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 3px solid lightgreen !important; */
    font-family: 'Poppins', sans-serif;
}

.me-auto{
    margin: 0 auto;
}

.txt-c{
    text-align: center;
}

.container-wrapper{
    overflow-x: hidden;
    max-width: 1280px;
    margin: 0 auto;
}

.container{
    width: 100%;
    margin: 0 auto;
}


h1{
    font-size: 4.375rem;
    font-weight: 700;
}

h2{
    font-size: 2.5rem;
    font-weight: 600;
}

h3{
    font-size: 1.125rem;
    font-weight: 600;
}

i{
    vertical-align: middle;
}

img {
    max-width: 100%;
  }

.btn{
    padding: 1rem 1.5625rem;
    border-radius: 0.3125rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    background: #FFF;
    color: var(--color-primary);
    transition: transform 0.3s linear;
}

.btn:hover{
    transform: translateY(5px) scale(0.95);
}

.btn-blog{
    border: 1px solid 
    var(--color-primary);
    padding: 0.25rem 1rem;
    margin: 1.25rem 0 1rem;
}

.active{
    color: #FFF;
    background: var(--color-secondary);
}

/*------------------------
 header section style
 ------------------------- */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-primary);
    color: #FFF;
    margin: 3.125rem auto;
    padding: 7rem 3.5rem;
    border-radius: 1.875rem;
}

.header-texts{
    max-width: 33rem;
    line-height: 1.2;
}

.header-texts p{
    font-size: 16px;
    line-height: 1.5;
    margin: 1.25rem 0 1.875rem;
}

.header-img{
    align-self: flex-end;
    justify-self: flex-start;
    width: 37rem;
    position: relative;
}

.header-img img{
    width: 100%;
    position: absolute;
    bottom: -7rem;  
}

/*------------------------
 article section style
 ------------------------- */
 .articles{
    margin: 5rem auto;
    max-width: 100%;
 }

 .blogs-btns-wrapper{
    display: flex;
    justify-content: space-around;
 }

 .nav-btn-wrapper{
    background: var(--color-primary);
    padding: 1.5rem;
    border-radius: 0.625rem;
    width: 17rem;
 }

 .nav-btn-wrapper a{
    display: block;
    margin-bottom: 1.4rem;
 }

 .nav-btn-wrapper a:last-child{
    margin-bottom: 0;
 }

 .cards-wrapper{
    margin-left: 1.45rem;
 }

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.45rem;
}

.card{
    border: 1px solid #E8E8E8;
    border-radius: 0.5rem;
 }


 .card img{
    width: 100%;
}

.blog-txt{
    padding: 0 1.25rem 1.25rem;
}

.blog-icons{
    margin-top: 1.25rem;
    color: #5C5C5C;
}

.blog-icons i{
    margin-right: 0.625rem;
}

.blog-icons i:last-child{
    margin-left: 2rem;
}

.show-blogs{
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.75rem 1.875rem;
    margin-top: 5rem;
}

/*-----------------
 Footer style  
 ------------------*/

 footer{
    background: var(--color-primary);
    color: #FFF;
    margin-top: 3.125rem;
    padding: 8rem 9rem;
 }

 footer h2{
    margin-bottom: 3rem;
 }

 hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
 }

 .footer-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

 .footer-links a{
    text-decoration: none;
    color: #B9B9B9;
    margin: 3rem 1rem 0;
    transition: color 0.3s ease;
 }

.footer-links a:hover,.linkSocial:hover{
    color: var(--color-secondary);
}


.linkSocial{
    display: inline-block;
    font-size: 2rem;
    color: #B9B9B9;
    margin: 0.5rem;
    transition: color 0.3s ease;
}